* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.contenitore-immagine{
height: 80px;
background-image:url('../img/pattern.png') ;
background-size: cover;
background-repeat: repeat;
background-color: aqua;
background-size: 18%;
}

.tim{
   
}

