* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 12px;
}

h1{
    font-size: 2rem;
}

main{
    padding-left: 20px;
    padding-right: 20px;
}

.logo{
    width: 20%;
    height: 70%;
    margin-top: 20px;
}

.data-articolo{
    margin-bottom: 20px;
    color: gray;
}

.scrittore{
    color: gray;
}

.spazio-top{
    margin-top: 20px;
    margin-bottom: 20px;
}

a{
    text-decoration: none;
    color: rgba(167,193,223,255);
    font-size: 13px;
}

span{
    background-color: yellow;
}

.contenitore-immagine{
height: 80px;
background-image:url('../img/pattern.png') ;
background-size: cover;
background-repeat: repeat;
background-color: rgba(97,170,255,255);
background-size: 18%;
margin-bottom: 20px;
}

table{
    margin-top: 20px;
}

.prima-tabella{
    width: 20%;
    text-align: left;
    background-color: rgba(74,171,231,255);
    color: white;
}

.seconda-tabella{
    width: 20%;
    text-align: left;
    background-color: rgba(74,171,231,255);
    color: white;
}

.righe-tabella{
    width: 20%;
    text-align: left;
    background-color: rgba(191,230,247,25); 
    padding: 2px;
}

h3{
    margin-bottom: 20px;
}

.img-finali{
    padding-left: 20px;
    padding-right: 20px;
}









